{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Set Password" %}{% endblock title %}
    
{% block content %}
        <div class="row justify-content-center">
            <div class="col-xl-5 col-sm-8">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="p-2">
                            <h5 class="mb-5 text-center">{% trans "Set Password" %}</h5>
                                
                            <form class="needs-validation" novalidate method="POST" action="{% url 'account_set_password' %}">
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} mb-4" role="alert">
                                    <strong>{{ message }}</strong>
                                </div>
                                {% endfor %} 
                                {% if field.help_text %}
                                <div class="alert alert-danger mb-4" role="alert">
                                    <strong>{{ field.help_text }}</strong>
                                </div>
                                {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            {{ form.password1|as_crispy_field }}
                                        </div>
                                        <div class="mb-4">
                                            {{ form.password2|as_crispy_field }}
                                        </div>
                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">{% trans "Set Password" %}</button>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <p class="mb-0">Back to the homepage ? <a href="{% url 'dashboard:dashboard' %}" class="fw-semibold text-primary text-decoration-underline"> Home </a> </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
{% endblock content %}