{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}

            <div class="row justify-content-center">
                <div class="col-xl-5 col-sm-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="p-2">
                                <h5 class="mb-5 text-center">{% trans "Password Reset" %}</h5>
                                <div class="mt-4">
                                    {% comment %} <h4>{% trans "Change Password" %}</h4> {% endcomment %}
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} mb-4" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                    {% endfor %} 
                                    <p class="text-muted mx-4">{% trans 'Your password is now changed.' %}</p>
                                    <div class="mt-4">
                                        <a href="{% url 'dashboard:dashboard' %}" class="btn btn-success w-100">Back to Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
    