{% load static %}
{% block topbar %}

    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'images/logo-sm-dark.png' %}" alt="" height="22">
                    </span>
                        <span class="logo-lg">
                        <img src="{% static 'images/logo-dark.png' %}" alt="" height="20">
                    </span>
                    </a>

                    <a href="{% url 'dashboard:dashboard' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/logo-sm-light.png' %}" alt="" height="22">
                    </span>
                        <span class="logo-lg">
                        <img src="{% static 'images/logo-light.png' %}" alt="" height="20">
                    </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                    <i class="mdi mdi-backburger"></i>
                </button>
            </div>

            <div class="d-flex">

                <!-- light dark btn -->
                <div class="dropdown d-none d-sm-inline-block">
                    <button type="button" class="btn header-item" id="light-dark-mode">
                        <i class="mdi mdi-moon-waning-crescent align-middle fs-4"></i>
                    </button>
                </div>


                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item user text-start d-flex align-items-center"
                            id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="{% static 'images/favicon.ico' %}"
                             alt="Header Avatar">
                        <span class="d-none d-sm-inline-block ms-1">{{ user.username }}</span>
                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end ">
                        {% if user.is_authenticated %}
                            {% if user.has_usable_password %}

                                <a class="dropdown-item" href="{% url 'account_change_password' %}">
                                    <i class="mdi mdi-key font-size-16 align-middle me-1"></i>Change Password</a>

                                <a class="dropdown-item" href="{% url 'account_logout' %}">
                                    <i class="mdi mdi-logout font-size-16 align-middle me-1"></i>Logout</a>
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item" href="{% url 'account_login' %}">
                                <i class="mdi mdi-login font-size-16 align-middle me-1"></i>Log in</a>

                        {% endif %}
                    </div>
                </div>


            </div>
        </div>

    </header>

{% endblock topbar %}