{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Starter page {% endblock title %} 
       

{% block pagetitle %}
    {% include "partials/page-title.html" with pagetitle="Pages" title="Starter page" %}
{% endblock pagetitle %}

{% block content %} 

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

{% endblock content %}

