// 
// _pagination.scss
// 

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
      border-radius: 30px !important;
      padding: 6px 12px !important;
      margin: 0 5px;
    }
}