{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block extra_css %}

    <!-- datepicker -->
    <link href="{% static 'libs/air-datepicker/dist/css/datepicker.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- jvectormap -->
    <link href="{% static 'libs/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />

{% endblock extra_css %}

{% block pagetitle %}
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h4 class="page-title mb-1">Dashboard</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Welcome {{ user.username }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->
{% endblock pagetitle %}

{% block content %}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-inline float-end">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-sm datepicker-here" data-range="true"  data-multiple-dates-separator=" - " data-language="en" placeholder="Select Date" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-calendar font-size-12"></i></span>
                                        </div>
                                    </div>
                                </form>
                                <h5 class="header-title mb-4">Sales Report</h5>
                                <div id="yearly-sale-chart" class="apex-charts"></div>
                            </div>
                        </div>
                    </div>

                </div>

                            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Table head</h4>
                            <p class="card-title-desc">Use one of two modifier classes to make <code>&lt;thead&gt;</code>s appear light or dark gray.</p>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Striped rows</h4>
                            <p class="card-title-desc">Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>

                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}

{% block extra_js %}

    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>

    <script src="{% static 'libs/jquery-knob/dist/jquery.knob.min.js' %}"></script>

    <!-- Jq vector map -->
    <script src="{% static 'libs/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'libs/jqvmap/dist/maps/jquery.vmap.usa.js' %}"></script>

    <script src="{% static 'js/pages/dashboard.init.js' %}"></script>

{% endblock extra_js %}
